<!-- app/templates/admin/users/users.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Employees{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Employees</h1>
        {% if users %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <caption>Users</caption>
              <thead>
                <tr>
                  <th scope="col"> Name </th>
                  <th scope="col"> Department </th>
                  <th scope="col"> Role </th>
                  <th scope="col"> Assign </th>
                </tr>
              </thead>
              <tbody>
              {% for user in users %}
                {% if user.is_admin %}
                    <tr style="background-color: #aec251; color: white;">
                        <td> <em class="fa fa-key"></em> Admin </td>
                        <td> N/A </td>
                        <td> N/A </td>
                        <td> N/A </td>
                    </tr>
                {% else %}
                    <tr>
                      <td> {{ user.first_name }} {{ user.last_name }} </td>
                      <td>
                        {% if user.group %}
                          {{ user.group.name }}
                        {% else %}
                          -
                        {% endif %}
                      </td>
                      <td>
                        {% if user.role %}
                          {{ user.role.name }}
                        {% else %}
                          -
                        {% endif %}
                      </td>
                      <td>
                        <a href="{{ url_for('admin.assign_user', id=user.id) }}">
                          <em class="fa fa-user-plus"></em> Assign
                        </a>
                      </td>
                    </tr>
                {% endif %}
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}