<!-- app/templates/home/index.html -->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="container">
  
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Config Control System</h1>
          <p class="lead">An automatic configuration management system for subordinate programs or systems that uses a distributed version control system (Git).</p>
        </div>
      </div>
      <hr>
</div>
{% endblock %}