<!-- app/templates/admin/groups/groups.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Groups{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Groups</h1>
        {% if groups %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <caption>Groups</caption>
              <thead>
                <tr>
                  <th scope="col"> Name </th>
                  <th scope="col"> Description </th>
                  <th scope="col"> User Count </th>
                  <th scope="col"> Edit </th>
                  <th scope="col"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for group in groups %}
                <tr>
                  <td> {{ group.name }} </td>
                  <td> {{ group.description }} </td>
                  <td>
                    {% if group.users %}
                      {{ group.users.count() }}
                    {% else %}
                      0
                    {% endif %}
                  </td>
                  <td>
                    <a href="{{ url_for('admin.edit_group', id=group.id) }}">
                      <em class="fa fa-pencil"></em> Edit 
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_group', id=group.id) }}">
                      <em class="fa fa-trash"></em> Delete 
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No groups have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_group') }}" class="btn btn-default btn-lg">
            <em class="fa fa-plus"></em>
            Add Group
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}