<!-- app/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <!-- Import the Bootstrap stylesheet -->
     {% assets "css_all" %}
         <link rel="stylesheet" href="{{ ASSET_URL }}">
     {% endassets %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico.png') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='img/favicon.ico.png') }}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
             <span class="navbar-brand mb-0 h1">CCS</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                {% if current_user.is_authenticated %}
                    {% if current_user.is_admin %}
                        <li class="nav-item dropdown"><a class="nav-link" href="{{ url_for('home.admin_dashboard') }}"><span class="oi oi-pie-chart"></span> Dashboard</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAuth" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="oi oi-lock-locked"></span> Auntification
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ url_for('admin.list_groups') }}"><span class="oi oi-shield"></span> Groups</a>
                                <a class="dropdown-item" href="{{ url_for('admin.list_roles') }}"><span class="oi oi-random"></span> Roles</a>
                                <a class="dropdown-item" href="{{ url_for('admin.list_users') }}"><span class="oi oi-people"></span> Users</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               <span class="oi oi-project"></span> Systems control
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/cred-settings"><span class="oi oi-key"></span> Cred settings</a>
                                <a class="dropdown-item" href="/env-settings"><span class="oi oi-fork"></span> Systems settings</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/app-settings"><span class="oi oi-wrench"></span> App settings</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               <span class="oi oi-list"></span> Systems
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% set envs = {
                    "session_type":["filesystem","null","redis","memcached","mongodb","sqlalchemy"],
                    "logging_level": ["INFO", " WARNING", "ERROR", "CRITICAL", "DEBUG" ],
                    "git_logging_level": ["INFO", " WARNING", "ERROR", "CRITICAL", "DEBUG" ]
                    } %}
                                {% for env in envs %}
                                {% set env_url = '/env-settings/' + env%}
                                <a class="dropdown-item" href={{ env_url }}/edit>{{ env }}</a>
                                {% endfor %}
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown"><a class="nav-link" href="{{ url_for('home.dashboard') }}"><span class="oi oi-pie-chart"></span> Dashboard</a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="/app-settings"><span class="oi oi-wrench"></span> App settings</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               <span class="oi oi-list"></span> Systems
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for env in envs %}
                                {% set env_url = '/env-settings/' + env%}
                                <a class="dropdown-item" href={{ env_url }}/edit><span class="oi oi-cog"></span> {{ env }}</a>
                                {% endfor %}
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
                    <ul class="navbar-nav my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}"><span class="oi oi-account-logout"></span> Logout</a></li>
                        <li class="nav-item"><a class="nav-link" ><span class="oi oi-person"></span> Hi, {{ current_user.username }}!</a></li>
                    </ul>
                {% else %}
            </div>
                    <ul class="navbar-nav my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('home.homepage') }}"><span class="oi oi-home"></span></span> Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}"><span class="oi oi-pencil"></span> Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}"><span class="oi oi-account-login"></span> Login</a></li>
                    </ul>
                {% endif %}
    </nav>
    <div class="wrapper">
      {% block body %}
      {% endblock %}
      <div class="push"></div>
    </div>
    <footer class="footer">
        <div class="container">
            <ul class="list-inline">
                <li class="list-inline-item text-left text-muted small"><a  class="text-secondary" href="{{ url_for('home.homepage') }}"><span class="oi oi-home"></span> Home</a></li>
                {% if current_user.is_authenticated %}
                    <li class="list-inline-item text-left text-muted small"><a class="text-secondary"href="{{ url_for('auth.logout') }}"><span class="oi oi-account-logout"></span> Logout</a></li>
                {% else %}
                    <li class="list-inline-item text-left text-muted small"><a class="text-secondary" href="{{ url_for('auth.register') }}"><span class="oi oi-pencil"></span> Register</a></li>
                    <li class="list-inline-item  text-left text-muted small"><a class="text-secondary" href="{{ url_for('auth.login') }}"><span class="oi oi-account-login"></span> Login</a></li>
                {% endif %}
                <li class="text-right list-inline-item copyright text-muted small"> Copyright © 2020. All Rights Reserved HCFB</li>
            </ul>
        </div>
    </footer>
{% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
  {% block script %}{% endblock %}
</body>
</html>